.pn:link, .pn:visited{
	text-decoration: none;
	color:#f49f51;
}
a.pn:hover, a.pn:active{
	font-weight: bolder;
}
body{
	/*background-color:#FFFACD;*/
	font-family:sans-serif;
	line-height:200%;
	margin:0px;
	padding:0px;
}
*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header {
	background: black;
	height: 80px;
	width: 100%;
	
	position: fixed;
	box-shadow: 0px 0px 10px gray;
}
.mm-menu {
	position: relative;
	z-index: 99;
	margin: 0 auto;
	width: 100%;
	min-width: 630px;
	max-width: 1000px;
	text-align: center;
	font-size: 0;
}
[class*=item] {
	min-width: 125px;
	padding: 0 19.8px;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.22rem;
	color: white;
	transition: .3s;
}
.mm-item {
	display: inline-block;
	background: black;
	width: 20%;
	line-height: 60px;
}
[class*=item]:hover {
	background: #f49f51;
	color: white;
}
.dd-menu {
	position: absolute;
	width: 20%;
	z-index: -1;
	top: -400px;
	margin-left: -19.8px;
	transition: .3s ease-in-out;
}
.mm-item:hover > .dd-menu,
.mm-item:focus > .dd-menu {
	top: 60px;
}
.dd-item {
	display: block;
	background: #ff8806;
	line-height: 36px;
	font-size: 85%;
	width: 100%;
}
#article{
	float:right;
	border:1px
}
#head {
    background-color:black;
    color:white;
	margin-left:100px;
    img-align:left;
    padding:5px;
}
.htmlcode{
	background-color:#E2E2E2;
	height:auto;
	box-shadow: 1px 1.5px 5px grey;
	padding:0px 0px 5px 0px;
}
.hcode{
	margin:auto;
	background-color:#ffffff;
	border:0.5px solid white;
	width:875px;
	border-left-width:10px;
	border-left-color:orange;
	padding-left: 15px;
	height:auto;
	line-space:50%;	
}
.rcode{
	background-color:#ffffff;
	border:0.5px solid white;
	border-left-width:10px;
	border-left-color:#07fc00;
	padding-left: 15px;
	margin:auto;
	width:875px;
	height:auto;
	line-space:50%;
}
#logog{
	position:fixed;
	bottom:0;
	right:0;
	width:100px;
	height:100px;
}
#logoo{
	position:fixed;
	bottom:0;
	right:0;
	width:100px;
	height:100px;
}
nav {
	background-color:#FF8806;
    line-height:30px;
    height:100%;
    width:17%;
    float:left;
    padding:5px 15px;
	font-family:sans-serif;
	margin-top: 80px;
	position: fixed;
}
nav:hover{
	overflow: auto;
}
nav a{
	text-decoration:none;
	color:black;
}
nav a:link, a:visited {
    text-decoration: none;
} 
nav  a:hover, a:active {
color: #FFCF9F;
}
.note{
	width: 100%;
	border:1px solid yellow;
}
.note, th, td{
	border:1px solid yellow;
	border-collapse: collapse;
}
#post{
	border:1px solid grey;
	padding:2px;
    background-color:white;	
}
section {
    width:75%;
    float:left;
    padding:10px;
	margin-left:250px;
	position:static;
	margin-top: 60px;
}
fieldset{
	background-color:white;
}
.tablea{
	width: 1000px;
	text-align: left;
}
.tablea, th{
	padding-right: 60px;
}
.tablea, th, td{
	border: 1px solid #d8d8d8;
	border-collapse: collapse;
	padding-top:7px;
	padding-left: 15px;
	padding-bottom: 7px;

}
.tablea tr:nth-child(odd){
	background-color: #eeeeee;
}
.tablea tr:nth-child(even){
	background-color: #ffffff;
}
.tryit{
 background-color: #06b706;
	height:auto;
	width: 20%;
	box-shadow: 1px 1.5px 5px grey;
	padding:5px 10px;
	text-align: center;
	color: white;
}
.tryit:hover, .tryit:active{
	color: #06b706;
	background-color: white;
	box-shadow: 1px 1.5px 5px grey;
}
hr{
	color:#d1d3d4;

}
footer{
	
	
	width: 83%;
	height: 100px;
position:relative;
bottom: -110%;
margin-left: 17%

}
